body{
    background-color: antiquewhite;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
}

h1{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: darksalmon;
}


button{
    margin: 10px;
}